<html>
<head></head>
<body>
<h1>
    Estimado:
    <br>
    <p>La info es:</p>
    {{ info.email }}
    <p>de un nuevo usuario de test</p>
</h1>
<br>
<br>
<p>

</p>
<br><br>
<p>
</p>
<br>
<p>
    Saludos,
</p>
<br>
<br><br>
<p>
    <strong>
        Nuevo Usuario
    </strong>
</p>

</p>
<br>
</body>
</html>