{% extends '::base_error.html.twig' %}
{% block stylesheet %}
	<link href="{{ asset('bundles/app/assets/admin/css/pages/error-page.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="error-wrapper">
        <h1>403!</h1>
        <h3>Acceso denegado.</h3>
        <h4>Usted no tiene permiso para ver este directorio o página con las credenciales que proporcionó.</h4>
        <a class="btn btn-lilac btn-xs rounded" data-toggle="tooltip" onclick="window.history.back();"><i class="fa fa-arrow-left"></i> Volver</a>
    </div>
{% endblock %}