{% extends '::base_error.html.twig' %}
{% block stylesheet %}
	<link href="{{ asset('bundles/app/assets/admin/css/pages/error-page.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="error-wrapper">
	    <h1>404!</h1>
	    <h3>La página que está buscando no se ha encontrado!</h3>
	    <h4>La página que está buscando se ha eliminado, o no está disponible. <br> Tal vez usted podria tratar de volver a la pagina anterior. </h4>
	    <a class="btn btn-lilac btn-xs rounded" data-toggle="tooltip" onclick="window.history.back();"><i class="fa fa-arrow-left"></i> Volver</a>
	</div>
{% endblock %}