{% extends '::base_error.html.twig' %}
{% block stylesheet %}
	<link href="{{ asset('bundles/app/assets/admin/css/pages/error-page.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="error-wrapper">
	    <h1>Ups!</h1>
	    <br>
	    <h3>El navegador Internet Explorer no funciona correctamente!!</h3>
	    <h4>Para utilizar el sistema de retroalimentación de desempeño, se recomienda utilizar los siguientes navegadores:</h4>
	    <br>
	    <div class="col-md-6">
	    	<a href="https://www.google.cl/chrome/browser/desktop/index.html" style="font-size: 20px;" class="btn btn-lilac btn-xs rounded" data-toggle="tooltip">
	    		<i class="fa fa-chrome fa-1x"></i> Chrome
	    	</a>
	    </div>
	    <div class="col-md-6">
	    	<a href="https://www.mozilla.org/es-CL/firefox/new/" style="font-size: 20px;" class="btn btn-lilac btn-xs rounded" data-toggle="tooltip">
	    		<i class="fa fa-firefox fa-1x"></i> Firefox
	    	</a>
	    </div>
	    <br>
	    <br>
	    <h4>Si usted necesita apoyo para instalar estos navegadores, escribir a {{ correosoporte }}</h4>
	</div>
{% endblock %}