{% extends ':layaouts:blade.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('bundles/app/assets/back_to_the_future/BTTF.ttf') }}">
    anklepants.ttf
{% endblock %}
{% block blade %}
    {% embed('header.html.twig') %}
    {% endembed %}
    {% embed('content.html.twig') %}
        {% block body %}
            <h1 style = "font-family:johnny fever,serif;font-style:italic;font-size: 70px">
                <center><strong>Hoy este es nuestro Cliente más importante</strong></center>
            </h1>
            <div id="results"></div>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            var options = {
                _reload:       "{{ path('app_default_results') }}",
                hasDatatable:  true,

                entityName:    "{{ singular }}"
            };
            initializeCRUD(options);
            loadTable();
            setTimeout(function(){
                loadTable();
            }, 10000);
        });



    </script>
{% endblock %}