
<div class="row">
    <div class="col-md-6">
        {% include (':default:content_index_.html.twig') %}
    </div>
    <div class="col-md-6">
        {% include (':default:content_index2.html.twig') %}
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        {% include (':default:content_index4.html.twig') %}
    </div>
    <div class="col-md-6">
        {% include (':default:content_index6.html.twig') %}
    </div>
</div>