<div class="row">
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                </div>
                <h2 style="font-size: 14px" class="panel-title">{{ singular }}</h2>
            </div>
            <div class="panel-body">
                {% include ('@App/' ~ url|lower ~ '/fields.html.twig') %}
                <div class="form-group">
                    <a class="btn btn-default" href="{{ path(routes.index) }}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        Volver
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>