{% extends '::base_ajax.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h2 style="font-size: 14px" class="panel-title">{{ singular }}</h2>
                </div>
                <div class="panel-body">
                    <form id="the-form" action="{{ path('change_password_app', { id: entity.id } ) }}" method="POST">
                        <div class="panel panel-inverse">
                            <div class="panel-body">
                                {{ app_macros.app_style_form(form) }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}