{% extends ':layaouts:blade.html.twig' %}
{% block blade %}
    {% embed('header.html.twig') %}
    {% endembed %}
    {% embed('content.html.twig') %}
        {% block body %}
        <div class="col-md-12">
            <div class="row">
                <!-- begin col-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-stats bg-grey-darker">
                        <div class="stats-icon"><i class="fa fa-desktop"></i></div>
                        <div class="stats-info">
                            <h4>Cedibles Repecpcionados hoy</h4>
                            <p>{{ cedibles|length }}</p>
                        </div>

                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-stats bg-green">
                        <div class="stats-icon"><i class="fa fa-link"></i></div>
                        <div class="stats-info">
                            <h4>Porcentaje Semana</h4>
                            <p>{{ porcWeek }}%</p>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-stats bg-orange">
                        <div class="stats-icon"><i class="fa fa-users"></i></div>
                        <div class="stats-info">
                            <h4>Porcentaje Mes</h4>
                            <p>{{ porcMonth }}%</p>
                        </div>

                    </div>
                </div>
                <!-- end col-3 -->
                <!-- begin col-3 -->
                <div class="col-lg-3 col-md-6">
                    <div class="widget widget-stats bg-red">
                        <div class="stats-icon"><i class="fa fa-clock"></i></div>
                        <div class="stats-info">
                            <h4>Porcenyaje Año</h4>
                            <p>{{ porcYear }}%</p>
                        </div>
                    </div>
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        {% endblock %}
    {% endembed %}


{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            chart();

            function  chart  () {
                "use strict";
                function showTooltip(x, y, contents) {
                    $('<div id="tooltip" class="flot-tooltip">' + contents + '</div>').css( {
                        top: y - 45,
                        left: x - 55
                    }).appendTo("body").fadeIn(200);
                }
                if ($('#interactive-chart').length !== 0) {

                    var data1 = [
                        [1, 40], [2, 50], [3, 60], [4, 60], [5, 60], [6, 65], [7, 75], [8, 90], [9, 100], [10, 105],
                        [11, 110], [12, 110], [13, 120], [14, 130], [15, 135],[16, 145], [17, 132], [18, 123], [19, 135], [20, 150]
                    ];
                    var data2 = [
                        [1, 10],  [2, 6], [3, 10], [4, 12], [5, 18], [6, 20], [7, 25], [8, 23], [9, 24], [10, 25],
                        [11, 18], [12, 30], [13, 25], [14, 25], [15, 30], [16, 27], [17, 20], [18, 18], [19, 31], [20, 23]
                    ];
                    var xLabel = [
                        [1,''],[2,''],[3,'May&nbsp;15'],[4,''],[5,''],[6,'May&nbsp;19'],[7,''],[8,''],[9,'May&nbsp;22'],[10,''],
                        [11,''],[12,'May&nbsp;25'],[13,''],[14,''],[15,'May&nbsp;28'],[16,''],[17,''],[18,'May&nbsp;31'],[19,''],[20,'']
                    ];
                    $.plot($("#interactive-chart"), [{
                        data: data1,
                        label: "Page Views",
                        color: '#0040FF',
                        lines: { show: true, fill:false, lineWidth: 2 },
                        points: { show: true, radius: 3, fillColor: '#FFFFFF' },
                        shadowSize: 0
                    }, {
                        data: data2,
                        label: 'Visitors',
                        color: '#01DF01',
                        lines: { show: true, fill:false, lineWidth: 2 },
                        points: { show: true, radius: 3, fillColor: '#FFFFFF' },
                        shadowSize: 0
                    }], {
                        xaxis: {  ticks:xLabel, tickDecimals: 0, tickColor: '#F2F2F2' },
                        yaxis: {  ticks: 10, tickColor: '#F2F2F2', min: 0, max: 200 },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: '#F2F2F2',
                            borderWidth: 1,
                            backgroundColor: 'transparent',
                            borderColor: '#F2F2F2'
                        },
                        legend: {
                            labelBoxBorderColor: '#F2F2F2',
                            margin: 10,
                            noColumns: 1,
                            show: true
                        }
                    });
                    var previousPoint = null;
                    $("#interactive-chart").bind("plothover", function (event, pos, item) {
                        $("#x").text(pos.x.toFixed(2));
                        $("#y").text(pos.y.toFixed(2));
                        if (item) {
                            if (previousPoint !== item.dataIndex) {
                                previousPoint = item.dataIndex;
                                $("#tooltip").remove();
                                var y = item.datapoint[1].toFixed(2);

                                var content = item.series.label + " " + y;
                                showTooltip(item.pageX, item.pageY, content);
                            }
                        } else {
                            $("#tooltip").remove();
                            previousPoint = null;
                        }
                        event.preventDefault();
                    });
                }
            };

        });
    </script>
{% endblock %}